pract/src/main/mule/pract.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:slack="http://www.mulesoft.org/schema/mule/slack" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:google-maps="http://www.mulesoft.org/schema/mule/google-maps" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/google-maps http://www.mulesoft.org/schema/mule/google-maps/current/mule-google-maps.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="f9c18632-575f-49fa-8566-f0bfdb9e8ac6" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="17816603" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="0540e75c-e684-43a3-84a6-40b9d63f0852" flowRef="practFlow" />
	<flow name="practFlow" doc:id="3dbaffaa-9571-4b4a-b5de-16b019a7b986" >
		<http:listener doc:name="Listener" doc:id="0f08a11d-ae65-4b50-bcca-99f5befc8ccc" config-ref="HTTP_Listener_config1" path="/pract"/>
		<logger level="INFO" doc:name="Logger" doc:id="17cca3cf-b351-4f3d-bd3a-0bab2b6a7e82" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="878e308e-4290-4bad-a737-89e17262ad30" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"request recieved"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
